@charset "UTF-8";

footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
}

.rodape {
	color: #000;
	background-color: #e3f2fd;
	text-align: center !important;
	font-size: 1.05em;
	padding: 5px;
}

p {
	font-weight: bold;
	margin-bottom: 0px;
}
